body {
    background-color: var(--wp--preset--color--beige);
}
a {
    color: var(--wp--preset--color--brown);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.site-main .entry-title {
    display: none;
}

strong {
    font-weight: 700;
}

.wpfront-notification-bar table {
    padding: 0.5rem 0;
}

.custom-logo {
    width: 12rem;
    height: auto;
}

.header-logo-icon {
    width: 3rem;
    height: auto;
}

.site-header-sticky {
    position: sticky;
    top:4.5rem;
    z-index: 10;
}

.site-header {
    background-color: var(--wp--preset--color--grey);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
}

.site-header > div {
    width: 30%;
}

.site-header > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.site-header > div:nth-of-type(3) {
    display: flex;
    justify-content: right;
}

.menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: row;
    
}

#footer-menu {
    margin-bottom: 2rem;
    width: 75%;
    display: flex;
    flex-flow:column wrap;
    align-content: space-between;
    max-height: 85px;
}

#footer-menu li {
    padding-left: 0;
    min-width: 100px;
    width: 30%;
}

.menu >* {
    padding-left: 1rem;
}

.sub-menu {
    display: none;
    transition: all 0.3s ease-in-out;
    list-style: none;
    text-align: right;
    padding-left: 0;
    padding-top: 0.5rem;

}

.hamburger-menu {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.hamburger-menu:hover .sub-menu {
    display: unset;
}


.site-footer {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: var(--wp--preset--color--palelilac);
}

.site-footer > div {
    width: 30%;
}

.site-footer > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.site-footer > div:nth-of-type(3) {
    display: flex;
    align-content: right;
    flex-flow: column;
}

.footer-logo-icon {
    position: absolute;
    z-index: 10;
    top:-1.1rem;
    width: 4rem;
}

.footer-icon-container {
    height: 100%;
}

.footer-email-input {
    width: 60%;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;

    background: var(--wp--preset--color--grey);
}

.footer-email-button {
    padding: 0.5rem;
    border: 2px solid var(--wp--preset--color--grey);
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
}

.footer-email-button:hover  {
    background: var(--wp--preset--color--grey);
    color: var(--wp--preset--color--brown);
    cursor: pointer;
}

