/* general styles */

body {
    background-color: var(--wp--preset--color--beige);
}

a {
    color: var(--wp--preset--color--brown);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.site-main .entry-title {
    display: none;
}

strong {
    font-weight: 700;
}

/* notification bar */

.wpfront-notification-bar table {
    padding: 0.5rem 0;
}

/* header content */

.custom-logo {
    width: 12rem;
    height: auto;
    min-width: 10rem;
}

.header-logo-icon {
    width: 3rem;
    height: auto;
}

.site-header-sticky {
    position: sticky;
    top:4.5rem;
    z-index: 10;
}

.site-header {
    background-color: var(--wp--preset--color--grey);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
}

.site-header > div {
    width: 30%;
}

.site-header > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.site-header > div:nth-of-type(3) {
    display: flex;
    justify-content: right;
}

.menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: row;
}

.menu >* {
    padding-left: 1rem;
}

.sub-menu {
    /* display: none; */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    list-style: none;
    text-align: right;
    margin-top: 2rem;
    padding: 0 2.5rem 1rem 2.5rem;
    position: absolute;
    z-index: 20;
    width: 100vw;
    right: 0;
    background-color: var(--wp--preset--color--grey);
    transition: all 0.3s ease-in-out;
}

.hamburger-menu {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.hamburger-menu:hover .sub-menu {
    opacity: 1;
}

/* home page */

.home-feature {
    position: relative;
}

.home-feature-overlay figure {
    width: 75%;
    margin: 0;
}

.home-feature-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 3rem;
}

.home-boxed-image {
    margin-bottom :0;
}

.home-banner {
    display: flex;
    width: 100%;
    margin: 0;
}

/* connect sidebar */

.connect-area, .featured-products-container {
    background-color: var(--wp--preset--color--grey);
    padding: 5rem 0;
}

.connect-container, .featured-products {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    
}

.connect-container .wp-block-gallery {
    width: 60%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.email-connect {
    background-color: var(--wp--preset--color--palelilac);
    padding: 2rem 4rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.email-connect .footer-email-input {
    margin: 0 1rem;
    width: 40%;
    padding-left: 1rem;
}

.email-connect .footer-email-button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
}

/* contact page */

.contact-section {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
}

.contact-section >* {
    width: 50%;
    margin-right: 8rem;
}

#contact-details {
    margin-top: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 1rem;
}

fieldset div {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
}
fieldset label {
    margin-bottom: 0.5rem;
}

fieldset input, fieldset textarea {
    padding: 1rem;
    min-height: 1rem;
    border: none;
    background-color: var(--wp--preset--color--grey);
    font-size: 1rem;
    max-width: 60%;
}

fieldset textarea {
    height: 10rem;
}

/* WP FORMS */
div.wpforms-container-full .wpforms-form button[type=submit] {
    background: transparent;
    border: 3px solid var(--wp--preset--color--brown);
    padding-left: 3rem;
    padding-right: 3rem;
    color: var(--wp--preset--color--brown);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
}

div.wpforms-container-full .wpforms-form button[type=submit]:hover {
    background-color: var(--wp--preset--color--brown);
    color: var(--wp--preset--color--beige);
    border: 3px solid var(--wp--preset--color--brown);
}

div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form textarea  {
    border: none;
    padding: 1.5rem 1rem;
}

.fa-phone, .fa-envelope {
    margin-right: 0.5rem;
}

/* footer */

#footer-menu {
    margin-bottom: 2rem;
    width: 75%;
    display: flex;
    flex-flow:column wrap;
    align-content: space-between;
    max-height: 85px;
}

#footer-menu li {
    padding-left: 0;
    min-width: 100px;
    width: 30%;
}

.site-footer {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: var(--wp--preset--color--palelilac);
}

.site-footer > div {
    width: 30%;
}

.site-footer > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.site-footer > div:nth-of-type(3) {
    display: flex;
    align-content: right;
    flex-flow: column;
}

.footer-logo-icon {
    position: absolute;
    z-index: 10;
    top:-1.1rem;
    width: 4rem;
}

.footer-icon-container {
    height: 100%;
}

.footer-email-input {
    width: 60%;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    background: var(--wp--preset--color--grey);
}

.footer-email-button {
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--wp--preset--color--grey);
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
}

.footer-email-button:hover  {
    background: var(--wp--preset--color--grey);
    color: var(--wp--preset--color--brown);
    cursor: pointer;
}


/* WOO-COMMERCE */

.woocommerce a.button {
    border: 4px solid var(--wp--preset--color--lilac);
    border-radius: 0;
    background: var(--wp--preset--color--lilac);
    color: var(--wp--preset--color--grey);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 1.25rem;
    margin: 0 auto;
}

.woocommerce a.button:hover {
    border: 4px solid var(--wp--preset--color--gold);
    background: var(--wp--preset--color--gold);
    color: var(--wp--preset--color--grey);
}

.woocommerce ul.products li.product .price {
    color: var(--wp--preset--color--brown);
    font-size: 1rem;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
    text-transform: capitalize;
    letter-spacing: unset;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background-color: var(--wp--preset--color--grey);
    padding: 1.25rem;
    width: 230px;
    margin: 0 3.5% 2.992em 0;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    display: none;
}

.product .entry-title, .post-16 .entry-title, .post-17 .entry-title, .post-18 .entry-title {
    display: initial;
}

.product .entry-content {
    padding: 4rem;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    box-sizing: border-box;
    border: 1.5rem solid var(--wp--preset--color--grey);
}

.product_meta {
    color: var(--wp--preset--color--grey);
}

.product_meta a {
    color: var(--wp--preset--color--grey);
    text-transform: uppercase;
    /* text-decoration: underline;
    letter-spacing: 0.1rem; */
}

.aioseo-breadcrumbs {
    padding: 1rem 2rem 0.75rem 2rem;
    border-bottom: 1px solid var(--wp--preset--color--brown);
    max-width: 1280px;
    margin: 0 auto;
}

.woocommerce button.button.alt {
    background: none;
    border-radius: 0;
    border: 3px solid var(--wp--preset--color--brown);
    color: var(--wp--preset--color--brown);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
    padding: 1rem 2rem;
    margin-left: 0.5rem;
}

.woocommerce button.button.alt:hover {
    background: var(--wp--preset--color--brown);
    color: var(--wp--preset--color--beige);
}

.woocommerce div.product form.cart div.quantity {
    height: 3rem;
}

.woocommerce .quantity .qty {
    height: 100%;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: darkgray;
}

.woocommerce div.product {
    margin-top: 2rem;
}

.woocommerce div.product p.price {
    color: var(--wp--preset--color--brown);
    margin-top: 0;
}

/* cart */

.woocommerce-cart table.cart {
    border: none;
    border-collapse: separate;
}

.woocommerce table.shop_table td {
    padding: 1rem;
    border: none;
}

.woocommerce-cart table.cart img {
    width: 5rem;
}

.woocommerce a.remove {
    color: var(--wp--preset--color--brown) !important;
}

.woocommerce a.remove:hover {
    background-color: var(--wp--preset--color--brown) !important;
}

.woocommerce-cart table.cart th {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;
    font-size: 1.25rem;
}

.woocommerce-cart-form__cart-item.cart_item {
    background-color: var(--wp--preset--color--grey);
    padding: 1rem;
    border: none;
}

.woocommerce button.button {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
    padding: 1rem 2rem;
    border-radius: none;
    border: 3px solid var(--wp--preset--color--brown);
    color: var(--wp--preset--color--brown);
    background-color: transparent;
}

.woocommerce button.button:hover {
    background: var(--wp--preset--color--brown);
    color: var(--wp--preset--color--beige);
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
    padding: 1rem 2rem;
}

.woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover {
    background-color: transparent;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    height: 3.25rem;
    border: none;
    width: 15rem;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 0.5rem;
    color: darkgray;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    border: none;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td {
    border: none;
}

.woocommerce table.cart td.actions {
    padding: 1rem 0;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
    border-radius: none;
    border: 3px solid var(--wp--preset--color--lilac);
    color: var(--wp--preset--color--grey);
    background-color: var(--wp--preset--color--lilac);
    margin-bottom: 5rem;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    border: 3px solid var(--wp--preset--color--gold);
    color: var(--wp--preset--color--brown);
    background-color: var(--wp--preset--color--gold);
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--wp--preset--color--grey);
}

.woocommerce form .form-row input.input-text::placeholder {
    color: darkgray;
}

.woocommerce-billing-fields h3, #order_review_heading {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.woocommerce-info {
    border-top-color: var(--wp--preset--color--lilac);
    margin-top: 1rem;
}

.woocommerce-info::before {
    color: var(--wp--preset--color--lilac);
}

.woocommerce table.shop_table {
    border: none;
}

.woocommerce-checkout #payment {
    background-color: var(--wp--preset--color--gold);
    margin-bottom: 5rem;
}

.woocommerce-checkout #payment ul.payment_methods {
    border: none;
}

.woocommerce form.checkout_coupon {
    border: none;
}

.woocommerce form.login {
    border: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    background-color: var(--wp--preset--color--grey);
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.woocommerce-message {
    border-top-color: var(--wp--preset--color--lilac);
}

.post-18 .entry-content {
    margin-bottom: 5rem;
}

.woocommerce form.login {
    padding: 0;
}

/* BLOG POST */

.post-thumbnail {
    max-width: 400px;
    max-height: 400px;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1.5rem solid var(--wp--preset--color--grey);
}

.blog-entry-header {
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, 
        rgba(0,0,0,0) calc(100% - 200px), 
        var(--wp--preset--color--grey) calc(50%)
    );
}

.blog-entry-content {
    background-color: var(--wp--preset--color--grey);
    margin-bottom: 5rem;
    padding: 1rem 15rem 10rem 15rem;
}

.wp-block-post-date {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.post-entry-title {
    font-family: timberline,sans-serif;
    font-weight: 400;   
    font-size: 4rem;
    text-transform: lowercase;
    margin: 0;
    line-height: 7rem;
}

.blog-entry-header .entry-meta {
    text-transform: uppercase;
    margin-top: 1rem;
}

.taxonomy-post_tag a {
    color: var(--wp--preset--color--gold);
}

.post-author {
    margin-top: 0;
    margin-bottom: 2rem;
}


/* email sign up */
#wpforms-form-315 {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

#wpforms-form-315 .wpforms-field-container {
    width: 50%;
}

#wpforms-315 .wpforms-form input.wpforms-field-medium {
    max-width: 95% !important;
}

#wpforms-form-315 .wpforms-field-container input {
    padding: 0.75rem;
    height: auto;
}

#wpforms-315 .wpforms-form button[type=submit] {
    background-color: transparent;
    border: 3px solid var(--wp--preset--color--grey);
}

#wpforms-315 .wpforms-form button[type=submit]:hover {
    background-color: var(--wp--preset--color--grey);
    color: var(--wp--preset--color--lilac);
}


/* RESPONSIVE */

/* desktop */
.entry-content {
    display: flex;
    flex-flow: column;
    /* width: 100vw; */
}
.wpfront-notification-bar.wpfront-fixed {
    width: 100vw;
}
#post-179 {
    width:100vw;
}
#primary {
    padding: 0 2rem 2rem 2rem;
}
.site-home {
    padding: 0 !important;
}
.site-home > * {
    max-width: unset !important;
}
/* main */
.site-main > * {
    width: 100%;
    max-width: 1280px;
}

#block-12 {
    padding-left: 2rem;
}

.woocommerce ul.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}


/* tablet */
@media only screen and (max-width: 815px) {

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        display: unset;
    }
    .wc-featured-group {
        padding: 0 2rem;
    }

    /* contact */
    .contact-section {
        flex-flow: column;
    }

    .contact-section > * {
        width: 100%;
    }

    .contact-section iframe {
        width: 100%;
    }

    #contact-details {
        margin-top: 2rem;
    }

    /* blog */
    .blog-entry-content {
        padding: 2rem;
    }
    .post-entry-title {
        line-height: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .email-connect {
        flex-flow: column;
        padding: 1rem 2rem;
    }

    .email-connect .footer-email-input {
        margin: 0;
        width: unset;
        margin-bottom: 0.5rem;
    }
    
    /* footer */
    .site-footer {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        padding: 3rem 2rem;
    }
    .site-footer > div {
        width: 100%;
    }
    #wpforms-form-315 .wpforms-field-container {
        width: 80%;
    }
}


/* mobile */
@media only screen and (max-width: 600px) {
    .woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
        width: 100%;
    }
    .featured-products .composite-title {
        flex-flow: column;
        padding: 0 2rem;
    }
    .featured-products .composite-title span {
        line-height: 3.5rem;
    }
    .featured-products .composite-title h2 {
        margin-left: 0;
    }
    .woocommerce-page table.cart td.actions .coupon .input-text + .button {
        float: left;
        margin-top: 0.5rem;
    }
    .woocommerce button.button.alt {
        margin-left: 0;
    }
    .woocommerce form.checkout_coupon {
        padding: 0;
    }
    .site-header > div:nth-of-type(2) {
        display: none;
    }
    .wp-block-group.is-style-collage-centered {
        width: 85%;
    }
    .wc-featured-group {
        flex-flow: column;
        padding: 0 2rem;
    }
    .wc-block-featured-product {
        width: 100%;
    }
    #block-10 .wp-block-gallery {
        display: flex;
        flex-flow: column;
        padding: 0 2rem;
    }
    #block-10 .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
        width: 100%;
        margin-right: 0;
    }
    .connect-container .wp-block-gallery {
        width: unset;
        min-width: unset;
    }
}